<div class="container">
  <h2>Add Hotel</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="hotelName">Hotel Name</label>
      <input
        type="text"
        class="form-control"
        id="hotelName"
        [(ngModel)]="hotelName"
        name="hotelName"
        required
      />
    </div>
<!-- Hotel Address -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="country">Country</label>
        <input
          type="text"
          class="form-control"
          id="country"
          [(ngModel)]="hotelAddress.Country"
          name="country"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          [(ngModel)]="hotelAddress.City"
          name="city"
          required
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="province">Province</label>
        <input
          type="text"
          class="form-control"
          id="province"
          [(ngModel)]="hotelAddress.Province"
          name="province"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="postalCode">Postal Code</label>
        <input
          type="text"
          class="form-control"
          id="postalCode"
          [(ngModel)]="hotelAddress.PostalCode"
          name="postalCode"
          required
        />
      </div>
    </div>
<!-- Hotel Rating -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="hotelRating">Hotel Rating</label>
        <input
          type="number"
          class="form-control"
          id="hotelRating"
          [(ngModel)]="hotelRating"
          name="hotelRating"
          required
        />
      </div>
    </div>
<!-- Pool -->
<div class="form-group col-md-3">
  <label>Pool</label>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="pool" id="poolYes" [(ngModel)]="hotelAmenities.Pool" value="Yes" required>
    <label class="form-check-label" for="poolYes">Yes</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="pool" id="poolNo" [(ngModel)]="hotelAmenities.Pool" value="No" required>
    <label class="form-check-label" for="poolNo">No</label>
  </div>
</div>

<!-- Gym -->
<div class="form-group col-md-3">
  <label>Gym</label>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="gym" id="gymYes" [(ngModel)]="hotelAmenities.Gym" value="Yes" required>
    <label class="form-check-label" for="gymYes">Yes</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="gym" id="gymNo" [(ngModel)]="hotelAmenities.Gym" value="No" required>
    <label class="form-check-label" for="gymNo">No</label>
  </div>
</div>

<!-- Airport Shuttle -->
<div class="form-group col-md-3">
  <label>Airport Shuttle</label>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="airportShuttle" id="shuttleYes" [(ngModel)]="hotelAmenities.AirportShuttle" value="Yes" required>
    <label class="form-check-label" for="shuttleYes">Yes</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="airportShuttle" id="shuttleNo" [(ngModel)]="hotelAmenities.AirportShuttle" value="No" required>
    <label class="form-check-label" for="shuttleNo">No</label>
  </div>
</div>

<!-- Pets -->
<div class="form-group col-md-3">
  <label>Pets</label>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="pets" id="petsYes" [(ngModel)]="hotelAmenities.Pets" value="Yes" required>
    <label class="form-check-label" for="petsYes">Yes</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="pets" id="petsNo" [(ngModel)]="hotelAmenities.Pets" value="No" required>
    <label class="form-check-label" for="petsNo">No</label>
  </div>
</div>

<!-- Description -->
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        [(ngModel)]="hotelDescription.Description"
        name="description"
        required
      ></textarea>
    </div>
<!-- Images -->
    <div class="form-group">
      <label>Images (URLs)</label>
      <div
        *ngFor="let image of hotelDescription.Images; let i = index"
        class="form-row align-items-center mb-2"
      >
        <div class="col">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="hotelDescription.Images[i]"
            name="image{{ i }}"
            placeholder="Enter Image URL"
          />
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeImageField(i)"
            *ngIf="hotelDescription.Images.length > 1"
          >
            Remove
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="addImageField()"
            *ngIf="i === hotelDescription.Images.length - 1"
          >
            Add Another Image
          </button>
        </div>
      </div>
    </div>
<!-- hotelDetails -->
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="airportDistance">Airport Distance</label>
        <input
          type="text"
          class="form-control"
          id="airportDistance"
          [(ngModel)]="hotelDetails.AirportDistance"
          name="airportDistance"
          required
        />
      </div>
      <div class="form-group col-md-4">
        <label for="downtownDistance">Downtown Distance</label>
        <input
          type="text"
          class="form-control"
          id="downtownDistance"
          [(ngModel)]="hotelDetails.DowntownDistance"
          name="downtownDistance"
          required
        />
      </div>
      <div class="form-group col-md-4">
        <label for="seaDistance">Sea Distance</label>
        <input
          type="text"
          class="form-control"
          id="seaDistance"
          [(ngModel)]="hotelDetails.SeaDistance"
          name="seaDistance"
          required
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
