<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card shadow-lg border-0">
        <div class="card-body">
          <h2 class="text-center mb-5 font-weight-bold">
            Update Hotel Details
          </h2>
          <form (ngSubmit)="onUpdate()" *ngIf="dataLoaded">
            <div class="row">
              <!-- Left Column for Hotel Info -->
              <div class="col-md-6 pr-md-5">
                <div class="form-group">
                  <label for="hotelName" class="font-weight-bold"
                    >Hotel Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="hotelName"
                    [(ngModel)]="hotelName"
                    name="hotelName"
                    placeholder="Enter hotel name"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="description" class="font-weight-bold"
                    >Description</label
                  >
                  <textarea
                    class="form-control"
                    id="description"
                    [(ngModel)]="hotelDescription.Description"
                    name="description"
                    rows="4"
                    placeholder="Describe the hotel"
                    required
                  ></textarea>
                </div>
                
                <div class="form-group">
                  <label class="font-weight-bold">Images (URLs)</label>
                  <div
                    *ngFor="let image of hotelDescription.Images; let i = index"
                    class="d-flex mb-2"
                  >
                    <input
                      type="text"
                      class="form-control mr-2"
                      [(ngModel)]="hotelDescription.Images[i]"
                      name="image{{ i }}"
                      placeholder="Enter image URL"
                    />
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      (click)="removeImageField(i)"
                      *ngIf="hotelDescription.Images.length > 1"
                    >
                      -
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-primary ml-2"
                      (click)="addImageField()"
                      *ngIf="i === hotelDescription.Images.length - 1"
                    >
                      +
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <label for="hotelRating" class="font-weight-bold"
                    >Hotel Rating</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="hotelRating"
                    [(ngModel)]="hotelRating"
                    name="hotelRating"
                    placeholder="0-5"
                    min="0"
                    max="5"
                    step="0.1"
                    required
                  />
                </div>
              </div>

              <!-- Right Column for Address and Amenities -->
              <div class="col-md-6 pl-md-5">
                <h4 class="mb-4 font-weight-bold">Location & Amenities</h4>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="country">Country</label>
                    <input
                      type="text"
                      class="form-control"
                      id="country"
                      [(ngModel)]="hotelAddress.Country"
                      name="country"
                      placeholder="Country"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input
                      type="text"
                      class="form-control"
                      id="city"
                      [(ngModel)]="hotelAddress.City"
                      name="city"
                      placeholder="City"
                      required
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="province">Province</label>
                    <input
                      type="text"
                      class="form-control"
                      id="province"
                      [(ngModel)]="hotelAddress.Province"
                      name="province"
                      placeholder="Province"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="postalCode">Postal Code</label>
                    <input
                      type="text"
                      class="form-control"
                      id="postalCode"
                      [(ngModel)]="hotelAddress.PostalCode"
                      name="postalCode"
                      placeholder="Postal Code"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="pool"
                      [(ngModel)]="hotelAmenities.Pool"
                      name="pool"
                    />
                    <label class="form-check-label" for="pool">Pool</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="gym"
                      [(ngModel)]="hotelAmenities.Gym"
                      name="gym"
                    />
                    <label class="form-check-label" for="gym">Gym</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="airportShuttle"
                      [(ngModel)]="hotelAmenities.AirportShuttle"
                      name="airportShuttle"
                    />
                    <label class="form-check-label" for="airportShuttle"
                      >Airport Shuttle</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="pets"
                      [(ngModel)]="hotelAmenities.Pets"
                      name="pets"
                    />
                    <label class="form-check-label" for="pets"
                      >Pets Allowed</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-success">
                Update Hotel
              </button>
              <button
                (click)="cancel()"
                type="button"
                class="btn btn-danger ml-2"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
