<div class="container mt-3">
  <h2 class="text-center mb-4">Room List</h2>
  <div class="bg-gray-100 p-1 text-center font-bold">
    Hotel ID: {{ hotelId }}
  </div>
  <ng-container *ngIf="rooms.length; else noRooms">
    <div class="row">
      <div class="col-md-4" *ngFor="let option of rooms; let i = index">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ option.RoomName }}</h5>
            <p class="card-text">
              <img
                *ngIf="option.RoomImages.length"
                [src]="option.RoomImages[0]"
                class="img-fluid"
                alt="Room Image"
              />
            </p>
            <p class="card-text">
              <strong>Beds:</strong> {{ option.NumberOfBeds }}<br />
              <strong>Size:</strong> {{ option.SquareFeet }} sqft<br />
              <strong>Amenities:</strong>
              <span *ngIf="option.RoomAmenities.Wifi">Wifi,</span>
              <span *ngIf="option.RoomAmenities.CableTv">Cable TV,</span>
              <span *ngIf="option.RoomAmenities.AirCondition"
                >Air Conditioning,</span
              >
              <span *ngIf="option.RoomAmenities.FreeCancellation"
                >Free Cancellation,</span
              >
              <span *ngIf="option.RoomAmenities.NonSmoking">Non-Smoking</span
              ><br />
              <strong>Meals:</strong>
              <span *ngIf="option.RoomMeals.Breakfast">Breakfast,</span>
              <span *ngIf="option.RoomMeals.Dinner">Dinner,</span>
              <span *ngIf="option.RoomMeals.BreakfastAndDinner"
                >Breakfast and Dinner</span
              ><br />
              <strong>Empty Rooms:</strong> {{ option.NumOfEmptyRooms }}<br />
              <strong>Guests:</strong> {{ option.NumberOfGuests }}<br />
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-primary"
                ><strong>${{ option.Price }}</strong></span
              >
              <div class="btn-group">
                <a
                  class="btn btn-outline-warning btn-sm"
                  [routerLink]="['/update-room', option._id]"
                  >Update Room</a
                >
                <a
                  class="btn btn-outline-secondary btn-sm"
                  [routerLink]="['/view-room', option._id]"
                  >View Room</a
                >
                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="deleteThisRoom(hotelId!, option._id!)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noRooms>
    <div class="text-center py-6">
      <div class="alert alert-warning">
        <p>No Rooms found.</p>
      </div>
    </div>
  </ng-template>
</div>
