<div class="container mt-3">
  <h2 class="text-center mb-4">Hotel List</h2>
  <div class="container mx-auto mt-8">
    <div *ngIf="hotels.length; else noHotels">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div
          *ngFor="let hotel of hotels"
          class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col transition-shadow hover:shadow-lg"
        >
          <div class="bg-gray-100 p-1 text-center font-bold">
            Hotel ID: {{ hotel._id }}
          </div>
          <div class="p-6">
            <h3 class="text-xl font-semibold mb-2">{{ hotel.HotelName }}</h3>
            <p class="text-gray-500 mb-4">
              {{ hotel.HotelAddress.City }}, {{ hotel.HotelAddress.Country }}, {{ hotel.HotelAddress.Province }}
              {{ hotel.HotelAddress.PostalCode }}
            </p>
            <p class="text-gray-600">
              {{ hotel.HotelDescription.Description }}
            </p>
          </div>
          <ul class="flex flex-wrap text-sm text-gray-600 border-t">
            <li class="w-1/2 p-3 border-r">Rating: {{ hotel.HotelRating }}</li>
            <li class="w-1/2 p-3">
              Pool: {{ hotel.HotelAmenities.Pool ? "Yes" : "No" }}
            </li>
            <li class="w-1/2 p-3 border-r border-t">
              Gym: {{ hotel.HotelAmenities.Gym ? "Yes" : "No" }}
            </li>
            <li class="w-1/2 p-3 border-t">
              Shuttle: {{ hotel.HotelAmenities.AirportShuttle ? "Yes" : "No" }}
            </li>
            <li class="w-full p-3 border-t">
              Pets: {{ hotel.HotelAmenities.Pets ? "Yes" : "No" }}
            </li>
          </ul>
          <div class="p-6 border-t">
            <p class="text-sm text-gray-600">
              Airport: {{ hotel.HotelDetails.AirportDistance }} km
            </p>
            <p class="text-sm text-gray-600">
              Downtown: {{ hotel.HotelDetails.DowntownDistance }} km
            </p>
            <p class="text-sm text-gray-600">
              Sea: {{ hotel.HotelDetails.SeaDistance }}
            </p>
            <div
              *ngIf="hotel.HotelDescription.Images.length > 0"
              class="flex overflow-x-auto mt-4 space-x-2"
            >
              <img
                alt="hotel-images"
                *ngFor="let image of hotel.HotelDescription.Images"
                [src]="image"
                class="w-25 h-30 rounded"
                [alt]="'Hotel Image ' + hotel.HotelName"
              />
            </div>
            <div class="flex justify-between items-center mt-4">
              <div>
                <a
                  class="text-gray-500 hover:text-blue-700 font-semibold text-sm"
                  [routerLink]="['/hotel-rooms', hotel._id]"
                  >View Rooms</a
                >

                <a
                  class="text-green-500 hover:text-green-700 font-semibold text-sm ml-4"
                  [routerLink]="['/addRoom', hotel._id]"
                  >Add Room</a
                >
              </div>
              <div>
                <a
                  class="text-blue-500 hover:text-blue-700 font-semibold text-sm"
                  [routerLink]="['/update-hotel', hotel._id]"
                  >Update</a
                >
                <button
                  class="text-red-500 hover:text-red-700 font-semibold text-sm ml-4"
                  (click)="deleteThisHotel(hotel._id)"
                > 
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noHotels>
      <div class="text-center py-8">
        <div
          class="bg-yellow-100 text-yellow-700 px-4 py-3 rounded relative"
          role="alert"
        >
          <span class="block sm:inline">No hotels found.</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
