<div class="container mt-3">
  <div *ngIf="hotels.length; else noHotels" class="mt-3">
    <div class="row">
      <div *ngFor="let hotel of hotels" class="col-md-4 mb-4">
        <h5 class="card-title">{{ hotel._id }}</h5>
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ hotel.HotelName }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ hotel.HotelAddress?.City }}, {{ hotel.HotelAddress?.Country }}
            </h6>
            <p class="card-text">{{ hotel.HotelDescription.Description }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Rating: {{ hotel.HotelRating }}</li>
            <li class="list-group-item">
              Pool: {{ hotel.HotelAmenities.Pool ? "Yes" : "No" }}
            </li>
            <li class="list-group-item">
              Gym: {{ hotel.HotelAmenities.Gym ? "Yes" : "No" }}
            </li>
            <!-- Other amenities -->
          </ul>
          <div class="card-body">
            <div
              *ngIf="
                hotel.HotelDescription &&
                hotel.HotelDescription.Images.length > 0
              "
              class="image-container d-flex justify-content-start"
            >
              <img
                *ngFor="let image of hotel.HotelDescription.Images"
                [src]="image"
                class="img-thumbnail mr-2"
                style="width: 100px; height: 100px"
                [alt]="'Hotel Image ' + hotel.HotelName"
              />
            </div>
            <div *ngIf="hotel.rooms && hotel.rooms.length > 0">
              <h6 class="mt-3">Room DetailsSSSS</h6>
              <hr />
              <div *ngFor="let room of hotel.rooms" class="room-detail">
                <p>{{ room.RoomName }}: ${{ room.Price }} per night</p>
                <p>{{ room.NumberOfBeds }} {{ room.BedType }} bed(s)</p>
                <p>{{ room.SquareFeet }} sqft</p>
                <p>{{ room.RoomAmenities }}</p>
                <!-- Other room details -->
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a class="btn btn-sm btn-outline-primary m-1" [routerLink]="['/update-hotel', hotel._id]">Update Hotel</a>

            <button class="btn btn-sm btn-outline-danger m-1">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noHotels>
  <div class="alert alert-warning text-center">
    <p>No hotels found.</p>
  </div>
</ng-template>
