<div class="mt-1">
  <nav class="bg-gray-900 shadow-lg p-1">
    <div class="container mx-auto flex items-center justify-between">
      <div class="flex-shrink-1">
      <a
        class="text-white font-bold text-xl tracking-wide hover:text-indigo-400 transition duration-300"
        href="#"
      >
        {{ title }}
      </a>
    </div>

      <div class="d-flex flex-wrap">
        <a
          [routerLink]="['/create-hotel']"
          class="py-2 px-3 text-blue-300 hover:bg-blue-500 hover:text-white transition duration-300 rounded-md"
          >Create Hotel</a
        >
        <a
          [routerLink]="['/hotel-list']"
          class="py-2 px-3 text-red-300 hover:bg-red-500 hover:text-white transition duration-300 rounded-md"
          >Hotel List</a
        >
        <a
          [routerLink]="['/create-room']"
          class="py-2 px-3 text-green-300 hover:bg-green-500 hover:text-white transition duration-300 rounded-md"
          >Create Room</a
        >
        <a
          [routerLink]="['/room-list']"
          class="py-2 px-3 text-yellow-300 hover:bg-yellow-500 hover:text-white transition duration-300 rounded-md"
          >Room List</a
        >
      </div>
    </div>
  </nav>
  <!-- User Section -->
  <div *ngIf="isLoggedIn" class="mt-1 p-1 lg:flex items-center space-x-4">
    <span class="text-blue font-semibold text-lg"
      >Welcome, {{ currentUserEmail }}</span
    >
    <button
      (click)="onLogoutClick()"
      class="hide-mobile bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded transition duration-300"
    >
      Logout
    </button>
  </div>
</div>
<router-outlet></router-outlet>
