<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card shadow-lg border-0 rounded">
        <div class="card-body">
          <h2 class="text-center mb-5 font-weight-bold">Create New Room</h2>
          <form (ngSubmit)="onSubmit()">
            <div *ngFor="let option of room.RoomOptions; let oi = index">
              <h4 class="mt-4 mb-3">Room Option {{ oi + 1 }}</h4>

              <div class="form-group">
                <label for="roomName{{ oi }}">Room Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="roomName{{ oi }}"
                  required
                  [(ngModel)]="option.RoomName"
                  name="RoomName{{ oi }}"
                  placeholder="Enter room name"
                />
              </div>

              <div class="form-group">
                <label for="squareFeet{{ oi }}">Size (sqft)</label>
                <input
                  type="number"
                  class="form-control"
                  id="squareFeet{{ oi }}"
                  [(ngModel)]="option.SquareFeet"
                  name="SquareFeet{{ oi }}"
                  placeholder="Enter room size in square feet"
                />
              </div>

              <div class="form-group">
                <label>Room Amenities:</label>
                <div class="checkbox-group">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="option.RoomAmenities.Wifi"
                      name="Wifi{{ oi }}"
                    />
                    Wifi
                  </label>
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="option.RoomAmenities.CableTv"
                      name="CableTv{{ oi }}"
                    />
                    Cable TV
                  </label>
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="option.RoomAmenities.AirCondition"
                      name="AirCondition{{ oi }}"
                    />
                    Air Condition
                  </label>
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="option.RoomAmenities.FreeCancellation"
                      name="FreeCancellation{{ oi }}"
                    />
                    Free Cancellation
                  </label>
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="option.RoomAmenities.NonSmoking"
                      name="NonSmoking{{ oi }}"
                    />
                    Non Smoking
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label>Room Meals:</label>
                <div class="checkbox-group">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="option.RoomMeals.Breakfast"
                      name="Breakfast{{ oi }}"
                    />
                    Breakfast
                  </label>
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="option.RoomMeals.Dinner"
                      name="Dinner{{ oi }}"
                    />
                    Dinner
                  </label>
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="option.RoomMeals.BreakfastAndDinner"
                      name="BreakfastAndDinner{{ oi }}"
                    />
                    Breakfast and Dinner
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label for="roomImages{{ oi }}">Room Images (URLs):</label>
                <ng-container
                  *ngFor="
                    let image of option.RoomImages;
                    let ii = index;
                    trackBy: trackByFn
                  "
                >
                  <div class="input-group mb-2">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="option.RoomImages[ii]"
                      name="image{{ oi }}{{ ii }}"
                      placeholder="Enter image URL"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="removeImageField(oi, ii)"
                      >
                        Remove
                      </button>
                    </div>
                  </div>
                </ng-container>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="addImageField(oi)"
                >
                  Add Image
                </button>
              </div>

              <div class="form-group">
                <label for="numberOfBeds{{ oi }}">Number of Beds</label>
                <input
                  type="number"
                  class="form-control"
                  id="numberOfBeds{{ oi }}"
                  [(ngModel)]="option.NumberOfBeds"
                  name="NumberOfBeds{{ oi }}"
                  placeholder="Enter the number of beds"
                />
              </div>

              <div class="form-group">
                <label>Bed Types:</label>
                <div class="checkbox-group">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="option.BedType.SingleBed"
                      name="SingleBed{{ oi }}"
                    />
                    Single Bed
                  </label>
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="option.BedType.TwinBed"
                      name="TwinBed{{ oi }}"
                    />
                    Twin Bed
                  </label>
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="option.BedType.QueenBed"
                      name="QueenBed{{ oi }}"
                    />
                    Queen Bed
                  </label>
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="option.BedType.KingBed"
                      name="KingBed{{ oi }}"
                    />
                    King Bed
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label for="NumberOfGuests{{ oi }}">Number of Guests</label>
                <input
                  type="number"
                  class="form-control"
                  id="NumberOfGuests{{ oi }}"
                  [(ngModel)]="option.NumberOfGuests"
                  name="NumberOfGuests{{ oi }}"
                  placeholder="Enter the number of guests"
                />
              </div>

              <div class="form-group">
                <label for="NumOfEmptyRooms{{ oi }}"
                  >Number Of Empty Rooms</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="NumOfEmptyRooms{{ oi }}"
                  [(ngModel)]="option.NumOfEmptyRooms"
                  name="NumOfEmptyRooms{{ oi }}"
                  placeholder="Enter the number of empty rooms available"
                />
              </div>

              <div class="form-group">
                <label for="Price{{ oi }}">Price</label>
                <input
                  type="number"
                  class="form-control"
                  id="Price{{ oi }}"
                  [(ngModel)]="option.Price"
                  name="Price{{ oi }}"
                  placeholder="Enter the price for the room"
                />
              </div>
              <hr />
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-success">Create Room</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
