<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Dashboard</h3>
        <h1>Welcome - Email: {{ user.email }}</h1>
        <button (click)="onLogoutClick()" class="btn btn-danger">Logout</button>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="align-content-lg-around">
  <button (click)="onHotelListClick()" class="btn btn-info">Hotel List</button>
  <button (click)="onHotelCreateClick()" class="btn btn-dark">
    Hotel Create
  </button>
</div>
<hr />
<div class="align-content-lg-around">
  <button (click)="onRoomListClick()" class="btn btn-warning">Room List</button>
  <button (click)="onRoomCreateClick()" class="btn btn-success">
    Room Create
  </button>
</div>
<hr />
<div class="align-content-lg-around">
  <button (click)="onAddRoomToHotel()" class="btn btn-secondary">
    Hotel Room Create
  </button>
</div>
